In [22]:
import pandas as pd
import numpy as np
import sys
from flask import jsonify
import json
import plotly.graph_objects as go
import plotly.express as px
import joblib

In [14]:
data = pd.read_csv(r'..\06_MODEL\all_data.csv')
data

,SK_ID_CURR,TARGET,AMT_ANNUITY,AMT_CREDIT,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,ANNUITY_INCOME_PERC,APARTMENTS_AVG,BASEMENTAREA_AVG,...,LANDAREA_AVG,LIVINGAREA_MODE,NONLIVINGAREA_AVG,OBS_30_CNT_SOCIAL_CIRCLE,OWN_CAR_AGE,PAYMENT_RATE,REGION_POPULATION_RELATIVE,TOTALAREA_MODE,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MODE
0,100002,1.0,24700.5,406597.5,202500.0,0.0,1.0,0.121978,0.0247,0.0369,...,0.0369,0.0198,0.0000,2.0,NaN,0.060749,0.018801,0.0149,0.9722,0.9722
1,100003,0.0,35698.5,1293502.5,270000.0,0.0,0.0,0.132217,0.0959,0.0529,...,0.0130,0.0554,0.0098,1.0,NaN,0.027598,0.003541,0.0714,0.9851,0.9851
2,100004,0.0,6750.0,135000.0,67500.0,0.0,0.0,0.100000,NaN,NaN,...,NaN,NaN,NaN,0.0,26.0,0.050000,0.010032,NaN,NaN,NaN
3,100006,0.0,29686.5,312682.5,135000.0,NaN,NaN,0.219900,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,0.094941,0.008019,NaN,NaN,NaN
4,100007,0.0,21865.5,513000.0,121500.0,0.0,0.0,0.179963,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,0.042623,0.028663,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356246,456221,NaN,17473.5,412560.0,121500.0,0.0,1.0,0.143815,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,0.042354,0.002042,NaN,NaN,NaN
356247,456222,NaN,31909.5,622413.0,157500.0,NaN,NaN,0.202600,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,0.051267,0.035792,NaN,NaN,NaN
356248,456223,NaN,33205.5,315000.0,202500.0,3.0,1.0,0.163978,0.1113,0.1364,...,NaN,0.1441,0.0542,0.0,4.0,0.105414,0.026392,0.1663,0.9955,0.9955
356249,456224,NaN,25128.0,450000.0,225000.0,0.0,2.0,0.111680,0.1629,0.0723,...,NaN,0.1204,0.1490,0.0,NaN,0.055840,0.018850,0.1974,0.9896,0.9896
356250,456250,NaN,24709.5,312768.0,135000.0,1.0,4.0,0.183033,NaN,NaN,...,NaN,NaN,NaN,0.0,22.0,0.079003,0.006629,NaN,NaN,NaN