In [1]:
import pandas as pd
import sys
import joblib

In [10]:
def decision(id_client):
    all_data = pd.read_csv(r'..\06_MODEL\all_data.csv')
    selected_data = all_data.loc[all_data['SK_ID_CURR'] == id_client]
    if len(selected_data) == 0:
        return 'No data found'
    else:
        if str(selected_data.TARGET[selected_data.index[0]]) == 'nan':
            cls = joblib.load(r'..\06_MODEL\final_model.sav')
            top_feat = [col for col in all_data.columns.tolist()[1:] if col != 'TARGET']
            print(len(selected_data.columns))
            prediction = cls.predict(selected_data[top_feat])
            selected_data.loc[selected_data.index[0], 'TARGET'] = prediction
    return dict(selected_data)

In [11]:
decision(456250)

32

C:\Users\abou-\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\indexing.py:1797: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, v, pi)

{'SK_ID_CURR': 356250    456250
 Name: SK_ID_CURR, dtype: int64,
 'TARGET': 356250    0.0
 Name: TARGET, dtype: float64,
 'AMT_ANNUITY': 356250    24709.5
 Name: AMT_ANNUITY, dtype: float64,
 'AMT_CREDIT': 356250    312768.0
 Name: AMT_CREDIT, dtype: float64,
 'AMT_INCOME_TOTAL': 356250    135000.0
 Name: AMT_INCOME_TOTAL, dtype: float64,
 'AMT_REQ_CREDIT_BUREAU_QRT': 356250    1.0
 Name: AMT_REQ_CREDIT_BUREAU_QRT, dtype: float64,
 'AMT_REQ_CREDIT_BUREAU_YEAR': 356250    4.0
 Name: AMT_REQ_CREDIT_BUREAU_YEAR, dtype: float64,
 'ANNUITY_INCOME_PERC': 356250    0.183033
 Name: ANNUITY_INCOME_PERC, dtype: float64,
 'APARTMENTS_AVG': 356250   NaN
 Name: APARTMENTS_AVG, dtype: float64,
 'BASEMENTAREA_AVG': 356250   NaN
 Name: BASEMENTAREA_AVG, dtype: float64,
 'COMMONAREA_MEDI': 356250   NaN
 Name: COMMONAREA_MEDI, dtype: float64,
 'DAYS_BIRTH': 356250   -13962
 Name: DAYS_BIRTH, dtype: int64,
 'DAYS_EMPLOYED': 356250   -633.0
 Name: DAYS_EMPLOYED, dtype: float64,
 'DAYS_ID_PUBLISH': 356250   -4220
 Name: DAYS_ID_PUBLISH, dtype: int64,
 'DAYS_LAST_PHONE_CHANGE': 356250   -327.0
 Name: DAYS_LAST_PHONE_CHANGE, dtype: float64,
 'DAYS_REGISTRATION': 356250   -1072.0
 Name: DAYS_REGISTRATION, dtype: float64,
 'EXT_SOURCE_1': 356250   NaN
 Name: EXT_SOURCE_1, dtype: float64,
 'EXT_SOURCE_2': 356250    0.456541
 Name: EXT_SOURCE_2, dtype: float64,
 'EXT_SOURCE_3': 356250    0.272134
 Name: EXT_SOURCE_3, dtype: float64,
 'HOUR_APPR_PROCESS_START': 356250    14
 Name: HOUR_APPR_PROCESS_START, dtype: int64,
 'INCOME_CREDIT_PERC': 356250    0.43163
 Name: INCOME_CREDIT_PERC, dtype: float64,
 'INCOME_PER_PERSON': 356250    67500.0
 Name: INCOME_PER_PERSON, dtype: float64,
 'LANDAREA_AVG': 356250   NaN
 Name: LANDAREA_AVG, dtype: float64,
 'LIVINGAREA_MODE': 356250   NaN
 Name: LIVINGAREA_MODE, dtype: float64,
 'NONLIVINGAREA_AVG': 356250   NaN
 Name: NONLIVINGAREA_AVG, dtype: float64,
 'OBS_30_CNT_SOCIAL_CIRCLE': 356250    0.0
 Name: OBS_30_CNT_SOCIAL_CIRCLE, dtype: float64,
 'OWN_CAR_AGE': 356250    22.0
 Name: OWN_CAR_AGE, dtype: float64,
 'PAYMENT_RATE': 356250    0.079003
 Name: PAYMENT_RATE, dtype: float64,
 'REGION_POPULATION_RELATIVE': 356250    0.006629
 Name: REGION_POPULATION_RELATIVE, dtype: float64,
 'TOTALAREA_MODE': 356250   NaN
 Name: TOTALAREA_MODE, dtype: float64,
 'YEARS_BEGINEXPLUATATION_AVG': 356250   NaN
 Name: YEARS_BEGINEXPLUATATION_AVG, dtype: float64,
 'YEARS_BEGINEXPLUATATION_MODE': 356250   NaN
 Name: YEARS_BEGINEXPLUATATION_MODE, dtype: float64}