In [1]:
import pandas as pd
import sys

In [3]:
data = pd.read_csv(r'..\06_MODEL\all_data.csv')
data

,SK_ID_CURR,TARGET,AMT_ANNUITY,AMT_CREDIT,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,ANNUITY_INCOME_PERC,APARTMENTS_AVG,BASEMENTAREA_AVG,...,LANDAREA_AVG,LIVINGAREA_MODE,NONLIVINGAREA_AVG,OBS_30_CNT_SOCIAL_CIRCLE,OWN_CAR_AGE,PAYMENT_RATE,REGION_POPULATION_RELATIVE,TOTALAREA_MODE,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MODE
0,100002,1.0,24700.5,406597.5,202500.0,0.0,1.0,0.121978,0.0247,0.0369,...,0.0369,0.0198,0.0000,2.0,NaN,0.060749,0.018801,0.0149,0.9722,0.9722
1,100003,0.0,35698.5,1293502.5,270000.0,0.0,0.0,0.132217,0.0959,0.0529,...,0.0130,0.0554,0.0098,1.0,NaN,0.027598,0.003541,0.0714,0.9851,0.9851
2,100004,0.0,6750.0,135000.0,67500.0,0.0,0.0,0.100000,NaN,NaN,...,NaN,NaN,NaN,0.0,26.0,0.050000,0.010032,NaN,NaN,NaN
3,100006,0.0,29686.5,312682.5,135000.0,NaN,NaN,0.219900,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,0.094941,0.008019,NaN,NaN,NaN
4,100007,0.0,21865.5,513000.0,121500.0,0.0,0.0,0.179963,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,0.042623,0.028663,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356246,456221,NaN,17473.5,412560.0,121500.0,0.0,1.0,0.143815,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,0.042354,0.002042,NaN,NaN,NaN
356247,456222,NaN,31909.5,622413.0,157500.0,NaN,NaN,0.202600,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,0.051267,0.035792,NaN,NaN,NaN
356248,456223,NaN,33205.5,315000.0,202500.0,3.0,1.0,0.163978,0.1113,0.1364,...,NaN,0.1441,0.0542,0.0,4.0,0.105414,0.026392,0.1663,0.9955,0.9955
356249,456224,NaN,25128.0,450000.0,225000.0,0.0,2.0,0.111680,0.1629,0.0723,...,NaN,0.1204,0.1490,0.0,NaN,0.055840,0.018850,0.1974,0.9896,0.9896
356250,456250,NaN,24709.5,312768.0,135000.0,1.0,4.0,0.183033,NaN,NaN,...,NaN,NaN,NaN,0.0,22.0,0.079003,0.006629,NaN,NaN,NaN

In [4]:
data_granted_loan = data[data.TARGET.values == 1]
data_granted_loan

,SK_ID_CURR,TARGET,AMT_ANNUITY,AMT_CREDIT,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,ANNUITY_INCOME_PERC,APARTMENTS_AVG,BASEMENTAREA_AVG,...,LANDAREA_AVG,LIVINGAREA_MODE,NONLIVINGAREA_AVG,OBS_30_CNT_SOCIAL_CIRCLE,OWN_CAR_AGE,PAYMENT_RATE,REGION_POPULATION_RELATIVE,TOTALAREA_MODE,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MODE
0,100002,1.0,24700.5,406597.5,202500.0,0.0,1.0,0.121978,0.0247,0.0369,...,0.0369,0.0198,0.0000,2.0,NaN,0.060749,0.018801,0.0149,0.9722,0.9722
26,100031,1.0,27076.5,979992.0,112500.0,2.0,2.0,0.240680,0.0165,0.0089,...,0.0265,0.0083,0.0000,10.0,NaN,0.027629,0.018029,0.0085,0.9732,0.9732
40,100047,1.0,35028.0,1193580.0,202500.0,0.0,4.0,0.172978,0.1309,0.1250,...,0.0142,0.1320,0.0078,0.0,NaN,0.029347,0.025164,0.1463,0.9960,0.9960
42,100049,1.0,16258.5,288873.0,135000.0,0.0,2.0,0.120433,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,0.056283,0.007305,NaN,NaN,NaN
81,100096,1.0,14593.5,252000.0,81000.0,0.0,0.0,0.180167,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,0.057911,0.028663,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307444,456186,1.0,32746.5,450000.0,207000.0,0.0,2.0,0.158196,0.0351,0.0207,...,0.0425,0.0249,0.0000,0.0,NaN,0.072770,0.020246,0.0188,0.9776,0.9578
307471,456215,1.0,46809.0,1303200.0,144000.0,0.0,6.0,0.325062,0.0825,0.0425,...,0.0855,0.0719,0.0064,0.0,NaN,0.035919,0.007330,0.0557,0.9990,0.9990
307477,456225,1.0,19975.5,297000.0,225000.0,0.0,3.0,0.088780,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,0.067258,0.008575,NaN,NaN,NaN
307485,456233,1.0,23089.5,521280.0,225000.0,1.0,2.0,0.102620,0.0113,0.0000,...,0.0144,0.0026,0.0000,1.0,NaN,0.044294,0.014464,0.0024,0.9677,0.9677
307505,456254,1.0,20205.0,370107.0,171000.0,0.0,0.0,0.118158,0.0124,NaN,...,NaN,0.0063,NaN,0.0,NaN,0.054592,0.005313,0.0086,0.9771,0.9772

In [7]:
data_granted_loan[data_granted_loan.columns[2:]].describe()

,AMT_ANNUITY,AMT_CREDIT,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,ANNUITY_INCOME_PERC,APARTMENTS_AVG,BASEMENTAREA_AVG,COMMONAREA_MEDI,DAYS_BIRTH,...,LANDAREA_AVG,LIVINGAREA_MODE,NONLIVINGAREA_AVG,OBS_30_CNT_SOCIAL_CIRCLE,OWN_CAR_AGE,PAYMENT_RATE,REGION_POPULATION_RELATIVE,TOTALAREA_MODE,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MODE
count,24825.000000,2.482500e+04,2.482500e+04,20533.000000,20533.000000,24825.000000,10540.000000,8787.000000,6402.000000,24825.000000,...,8721.000000,10714.000000,9495.000000,24789.000000,7576.000000,24825.000000,24825.000000,11119.000000,11017.000000,11017.000000
mean,26481.744290,5.577785e+05,1.656118e+05,0.259923,2.028783,0.185482,0.105766,0.081548,0.039404,-14884.828077,...,0.063108,0.093461,0.024887,1.496147,13.668691,0.054659,0.019131,0.089769,0.975634,0.974938
std,12450.676999,3.464332e+05,7.466770e+05,0.643789,1.934063,0.094497,0.100959,0.074289,0.066815,4192.844583,...,0.080903,0.102287,0.062371,2.378438,12.499074,0.020577,0.011905,0.098530,0.069148,0.073849
min,2722.500000,4.500000e+04,2.565000e+04,0.000000,0.000000,0.000224,0.000000,0.000000,0.000000,-25168.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.022077,0.000533,0.000000,0.000000,0.000000
25%,17361.000000,2.844000e+05,1.125000e+05,0.000000,1.000000,0.120000,0.041200,0.039900,0.007200,-18037.000000,...,0.017800,0.032900,0.000000,0.000000,6.000000,0.039656,0.009630,0.031600,0.976200,0.975700
50%,25263.000000,4.975200e+05,1.350000e+05,0.000000,2.000000,0.169294,0.082500,0.072300,0.018300,-14282.000000,...,0.044900,0.066750,0.002800,0.000000,11.000000,0.050000,0.018634,0.061700,0.981100,0.980600
75%,32976.000000,7.333155e+05,2.025000e+05,0.000000,3.000000,0.233640,0.133000,0.106100,0.046700,-11396.000000,...,0.080800,0.112200,0.024500,2.000000,17.000000,0.066827,0.025164,0.108400,0.986100,0.986100
max,149211.000000,4.027680e+06,1.170000e+08,19.000000,22.000000,1.875965,1.000000,1.000000,1.000000,-7678.000000,...,1.000000,1.000000,1.000000,30.000000,91.000000,0.124428,0.072508,1.000000,1.000000,1.000000

In [8]:
data[data.columns[2:]].describe()

,AMT_ANNUITY,AMT_CREDIT,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,ANNUITY_INCOME_PERC,APARTMENTS_AVG,BASEMENTAREA_AVG,COMMONAREA_MEDI,DAYS_BIRTH,...,LANDAREA_AVG,LIVINGAREA_MODE,NONLIVINGAREA_AVG,OBS_30_CNT_SOCIAL_CIRCLE,OWN_CAR_AGE,PAYMENT_RATE,REGION_POPULATION_RELATIVE,TOTALAREA_MODE,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MODE
count,356215.000000,3.562510e+05,3.562510e+05,308683.000000,308683.000000,356215.000000,176304.000000,148668.000000,107894.000000,356251.000000,...,145409.000000,178350.000000,160487.000000,355201.000000,121012.000000,356215.000000,356251.000000,185197.000000,183389.000000,183389.000000
mean,27425.644390,5.877695e+05,1.701159e+05,0.304400,1.911544,0.181212,0.118139,0.088673,0.044995,-16041.276687,...,0.066455,0.106642,0.028503,1.425697,12.023766,0.055463,0.020917,0.103194,0.977889,0.977239
std,14732.860946,3.986253e+05,2.235080e+05,0.786919,1.865330,0.094701,0.108954,0.082313,0.077140,4358.798530,...,0.081287,0.112556,0.069880,2.599870,11.880940,0.023206,0.013915,0.108041,0.057929,0.063166
min,1615.500000,4.500000e+04,2.565000e+04,0.000000,0.000000,0.000224,0.000000,0.000000,0.000000,-25229.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.022073,0.000253,0.000000,0.000000,0.000000
25%,16731.000000,2.700000e+05,1.125000e+05,0.000000,0.000000,0.114950,0.057700,0.044500,0.007900,-19676.000000,...,0.018700,0.043100,0.000000,0.000000,5.000000,0.038080,0.010006,0.041500,0.976700,0.976700
50%,25078.500000,5.002110e+05,1.530000e+05,0.000000,1.000000,0.163182,0.088000,0.076500,0.021000,-15755.000000,...,0.048200,0.073300,0.003600,0.000000,9.000000,0.050000,0.018850,0.069000,0.981600,0.981600
75%,34960.500000,7.975575e+05,2.025000e+05,0.000000,3.000000,0.229156,0.148500,0.112300,0.051800,-12425.000000,...,0.085800,0.125800,0.027800,2.000000,15.000000,0.067066,0.028663,0.128700,0.986600,0.986600
max,258025.500000,4.050000e+06,1.170000e+08,261.000000,25.000000,2.024714,1.000000,1.000000,1.000000,-7338.000000,...,1.000000,1.000000,1.000000,354.000000,91.000000,0.124430,0.072508,1.000000,1.000000,1.000000