In [8]:
import pandas as pd
import sys
from flask import jsonify
import json

In [2]:
data = pd.read_csv(r'..\06_MODEL\all_data.csv')
data

,SK_ID_CURR,TARGET,AMT_ANNUITY,AMT_CREDIT,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,ANNUITY_INCOME_PERC,APARTMENTS_AVG,BASEMENTAREA_AVG,...,LANDAREA_AVG,LIVINGAREA_MODE,NONLIVINGAREA_AVG,OBS_30_CNT_SOCIAL_CIRCLE,OWN_CAR_AGE,PAYMENT_RATE,REGION_POPULATION_RELATIVE,TOTALAREA_MODE,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MODE
0,100002,1.0,24700.5,406597.5,202500.0,0.0,1.0,0.121978,0.0247,0.0369,...,0.0369,0.0198,0.0000,2.0,NaN,0.060749,0.018801,0.0149,0.9722,0.9722
1,100003,0.0,35698.5,1293502.5,270000.0,0.0,0.0,0.132217,0.0959,0.0529,...,0.0130,0.0554,0.0098,1.0,NaN,0.027598,0.003541,0.0714,0.9851,0.9851
2,100004,0.0,6750.0,135000.0,67500.0,0.0,0.0,0.100000,NaN,NaN,...,NaN,NaN,NaN,0.0,26.0,0.050000,0.010032,NaN,NaN,NaN
3,100006,0.0,29686.5,312682.5,135000.0,NaN,NaN,0.219900,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,0.094941,0.008019,NaN,NaN,NaN
4,100007,0.0,21865.5,513000.0,121500.0,0.0,0.0,0.179963,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,0.042623,0.028663,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356246,456221,NaN,17473.5,412560.0,121500.0,0.0,1.0,0.143815,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,0.042354,0.002042,NaN,NaN,NaN
356247,456222,NaN,31909.5,622413.0,157500.0,NaN,NaN,0.202600,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,0.051267,0.035792,NaN,NaN,NaN
356248,456223,NaN,33205.5,315000.0,202500.0,3.0,1.0,0.163978,0.1113,0.1364,...,NaN,0.1441,0.0542,0.0,4.0,0.105414,0.026392,0.1663,0.9955,0.9955
356249,456224,NaN,25128.0,450000.0,225000.0,0.0,2.0,0.111680,0.1629,0.0723,...,NaN,0.1204,0.1490,0.0,NaN,0.055840,0.018850,0.1974,0.9896,0.9896
356250,456250,NaN,24709.5,312768.0,135000.0,1.0,4.0,0.183033,NaN,NaN,...,NaN,NaN,NaN,0.0,22.0,0.079003,0.006629,NaN,NaN,NaN

In [3]:
data_granted_loan = data[data.TARGET.values == 1]
data_granted_loan

,SK_ID_CURR,TARGET,AMT_ANNUITY,AMT_CREDIT,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,ANNUITY_INCOME_PERC,APARTMENTS_AVG,BASEMENTAREA_AVG,...,LANDAREA_AVG,LIVINGAREA_MODE,NONLIVINGAREA_AVG,OBS_30_CNT_SOCIAL_CIRCLE,OWN_CAR_AGE,PAYMENT_RATE,REGION_POPULATION_RELATIVE,TOTALAREA_MODE,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MODE
0,100002,1.0,24700.5,406597.5,202500.0,0.0,1.0,0.121978,0.0247,0.0369,...,0.0369,0.0198,0.0000,2.0,NaN,0.060749,0.018801,0.0149,0.9722,0.9722
26,100031,1.0,27076.5,979992.0,112500.0,2.0,2.0,0.240680,0.0165,0.0089,...,0.0265,0.0083,0.0000,10.0,NaN,0.027629,0.018029,0.0085,0.9732,0.9732
40,100047,1.0,35028.0,1193580.0,202500.0,0.0,4.0,0.172978,0.1309,0.1250,...,0.0142,0.1320,0.0078,0.0,NaN,0.029347,0.025164,0.1463,0.9960,0.9960
42,100049,1.0,16258.5,288873.0,135000.0,0.0,2.0,0.120433,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,0.056283,0.007305,NaN,NaN,NaN
81,100096,1.0,14593.5,252000.0,81000.0,0.0,0.0,0.180167,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,0.057911,0.028663,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307444,456186,1.0,32746.5,450000.0,207000.0,0.0,2.0,0.158196,0.0351,0.0207,...,0.0425,0.0249,0.0000,0.0,NaN,0.072770,0.020246,0.0188,0.9776,0.9578
307471,456215,1.0,46809.0,1303200.0,144000.0,0.0,6.0,0.325062,0.0825,0.0425,...,0.0855,0.0719,0.0064,0.0,NaN,0.035919,0.007330,0.0557,0.9990,0.9990
307477,456225,1.0,19975.5,297000.0,225000.0,0.0,3.0,0.088780,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,0.067258,0.008575,NaN,NaN,NaN
307485,456233,1.0,23089.5,521280.0,225000.0,1.0,2.0,0.102620,0.0113,0.0000,...,0.0144,0.0026,0.0000,1.0,NaN,0.044294,0.014464,0.0024,0.9677,0.9677
307505,456254,1.0,20205.0,370107.0,171000.0,0.0,0.0,0.118158,0.0124,NaN,...,NaN,0.0063,NaN,0.0,NaN,0.054592,0.005313,0.0086,0.9771,0.9772

In [6]:
desc1 = data_granted_loan[data_granted_loan.columns[2:]].describe()

In [7]:
desc2 = data[data.columns[2:]].describe()

In [11]:
list_test = [desc1.to_json(orient='records'), desc2.to_json(orient='records')]

In [12]:
list_test[0]

'[{"AMT_ANNUITY":24825.0,"AMT_CREDIT":24825.0,"AMT_INCOME_TOTAL":24825.0,"AMT_REQ_CREDIT_BUREAU_QRT":20533.0,"AMT_REQ_CREDIT_BUREAU_YEAR":20533.0,"ANNUITY_INCOME_PERC":24825.0,"APARTMENTS_AVG":10540.0,"BASEMENTAREA_AVG":8787.0,"COMMONAREA_MEDI":6402.0,"DAYS_BIRTH":24825.0,"DAYS_EMPLOYED":21835.0,"DAYS_ID_PUBLISH":24825.0,"DAYS_LAST_PHONE_CHANGE":24825.0,"DAYS_REGISTRATION":24825.0,"EXT_SOURCE_1":10054.0,"EXT_SOURCE_2":24773.0,"EXT_SOURCE_3":19148.0,"HOUR_APPR_PROCESS_START":24825.0,"INCOME_CREDIT_PERC":24825.0,"INCOME_PER_PERSON":24825.0,"LANDAREA_AVG":8721.0,"LIVINGAREA_MODE":10714.0,"NONLIVINGAREA_AVG":9495.0,"OBS_30_CNT_SOCIAL_CIRCLE":24789.0,"OWN_CAR_AGE":7576.0,"PAYMENT_RATE":24825.0,"REGION_POPULATION_RELATIVE":24825.0,"TOTALAREA_MODE":11119.0,"YEARS_BEGINEXPLUATATION_AVG":11017.0,"YEARS_BEGINEXPLUATATION_MODE":11017.0},{"AMT_ANNUITY":26481.7442900302,"AMT_CREDIT":557778.527673716,"AMT_INCOME_TOTAL":165611.7609063444,"AMT_REQ_CREDIT_BUREAU_QRT":0.2599230507,"AMT_REQ_CREDIT_BUREAU_YEAR":2.0287829348,"ANNUITY_INCOME_PERC":0.1854824793,"APARTMENTS_AVG":0.1057663757,"BASEMENTAREA_AVG":0.0815480824,"COMMONAREA_MEDI":0.0394044674,"DAYS_BIRTH":-14884.8280765358,"DAYS_EMPLOYED":-1814.9188000916,"DAYS_ID_PUBLISH":-2732.0996173212,"DAYS_LAST_PHONE_CHANGE":-808.7968177241,"DAYS_REGISTRATION":-4487.1270090634,"EXT_SOURCE_1":0.3869681259,"EXT_SOURCE_2":0.410934907,"EXT_SOURCE_3":0.3907165909,"HOUR_APPR_PROCESS_START":11.7970996979,"INCOME_CREDIT_PERC":0.3965558039,"INCOME_PER_PERSON":90857.9507451672,"LANDAREA_AVG":0.0631076023,"LIVINGAREA_MODE":0.0934612936,"NONLIVINGAREA_AVG":0.0248872775,"OBS_30_CNT_SOCIAL_CIRCLE":1.4961474848,"OWN_CAR_AGE":13.6686906019,"PAYMENT_RATE":0.0546587057,"REGION_POPULATION_RELATIVE":0.0191305954,"TOTALAREA_MODE":0.0897689271,"YEARS_BEGINEXPLUATATION_AVG":0.9756341382,"YEARS_BEGINEXPLUATATION_MODE":0.9749375692},{"AMT_ANNUITY":12450.6769994589,"AMT_CREDIT":346433.2356461124,"AMT_INCOME_TOTAL":746676.9594400614,"AMT_REQ_CREDIT_BUREAU_QRT":0.643789384,"AMT_REQ_CREDIT_BUREAU_YEAR":1.9340629558,"ANNUITY_INCOME_PERC":0.0944965216,"APARTMENTS_AVG":0.1009587872,"BASEMENTAREA_AVG":0.0742886006,"COMMONAREA_MEDI":0.0668146309,"DAYS_BIRTH":4192.8445829862,"DAYS_EMPLOYED":1849.7406496986,"DAYS_ID_PUBLISH":1516.9753130001,"DAYS_LAST_PHONE_CHANGE":758.0907130493,"DAYS_REGISTRATION":3299.6502405405,"EXT_SOURCE_1":0.204728656,"EXT_SOURCE_2":0.2131071533,"EXT_SOURCE_3":0.2058101885,"HOUR_APPR_PROCESS_START":3.2842986213,"INCOME_CREDIT_PERC":1.3543814101,"INCOME_PER_PERSON":255364.4724284621,"LANDAREA_AVG":0.0809034666,"LIVINGAREA_MODE":0.1022874036,"NONLIVINGAREA_AVG":0.0623714627,"OBS_30_CNT_SOCIAL_CIRCLE":2.3784377978,"OWN_CAR_AGE":12.4990740959,"PAYMENT_RATE":0.0205766615,"REGION_POPULATION_RELATIVE":0.0119045025,"TOTALAREA_MODE":0.0985296407,"YEARS_BEGINEXPLUATATION_AVG":0.0691478605,"YEARS_BEGINEXPLUATATION_MODE":0.0738489367},{"AMT_ANNUITY":2722.5,"AMT_CREDIT":45000.0,"AMT_INCOME_TOTAL":25650.0,"AMT_REQ_CREDIT_BUREAU_QRT":0.0,"AMT_REQ_CREDIT_BUREAU_YEAR":0.0,"ANNUITY_INCOME_PERC":0.0002238846,"APARTMENTS_AVG":0.0,"BASEMENTAREA_AVG":0.0,"COMMONAREA_MEDI":0.0,"DAYS_BIRTH":-25168.0,"DAYS_EMPLOYED":-16069.0,"DAYS_ID_PUBLISH":-6207.0,"DAYS_LAST_PHONE_CHANGE":-4070.0,"DAYS_REGISTRATION":-22928.0,"EXT_SOURCE_1":0.0146914824,"EXT_SOURCE_2":0.0000050021,"EXT_SOURCE_3":0.0005272652,"HOUR_APPR_PROCESS_START":0.0,"INCOME_CREDIT_PERC":0.0118012422,"INCOME_PER_PERSON":5142.8571428571,"LANDAREA_AVG":0.0,"LIVINGAREA_MODE":0.0,"NONLIVINGAREA_AVG":0.0,"OBS_30_CNT_SOCIAL_CIRCLE":0.0,"OWN_CAR_AGE":0.0,"PAYMENT_RATE":0.0220772358,"REGION_POPULATION_RELATIVE":0.000533,"TOTALAREA_MODE":0.0,"YEARS_BEGINEXPLUATATION_AVG":0.0,"YEARS_BEGINEXPLUATATION_MODE":0.0},{"AMT_ANNUITY":17361.0,"AMT_CREDIT":284400.0,"AMT_INCOME_TOTAL":112500.0,"AMT_REQ_CREDIT_BUREAU_QRT":0.0,"AMT_REQ_CREDIT_BUREAU_YEAR":1.0,"ANNUITY_INCOME_PERC":0.12,"APARTMENTS_AVG":0.0412,"BASEMENTAREA_AVG":0.0399,"COMMONAREA_MEDI":0.0072,"DAYS_BIRTH":-18037.0,"DAYS_EMPLOYED":-2380.5,"DAYS_ID_PUBLISH":-4119.0,"DAYS_LAST_PHONE_CHANGE":-1301.0,"DAYS_REGISTRATION":-6646.0,"EXT_SOURCE_1":0.2218467952,"EXT_SOURCE_2":0.2385675801,"EXT_SOURCE_3":0.2238313175,"HOUR_APPR_PROCESS_START":10.0,"INCOME_CREDIT_PERC":0.2003338898,"INCOME_PER_PERSON":45000.0,"LANDAREA_AVG":0.0178,"LIVINGAREA_MODE":0.0329,"NONLIVINGAREA_AVG":0.0,"OBS_30_CNT_SOCIAL_CIRCLE":0.0,"OWN_CAR_AGE":6.0,"PAYMENT_RATE":0.0396555834,"REGION_POPULATION_RELATIVE":0.00963,"TOTALAREA_MODE":0.0316,"YEARS_BEGINEXPLUATATION_AVG":0.9762,"YEARS_BEGINEXPLUATATION_MODE":0.9757},{"AMT_ANNUITY":25263.0,"AMT_CREDIT":497520.0,"AMT_INCOME_TOTAL":135000.0,"AMT_REQ_CREDIT_BUREAU_QRT":0.0,"AMT_REQ_CREDIT_BUREAU_YEAR":2.0,"ANNUITY_INCOME_PERC":0.1692941176,"APARTMENTS_AVG":0.0825,"BASEMENTAREA_AVG":0.0723,"COMMONAREA_MEDI":0.0183,"DAYS_BIRTH":-14282.0,"DAYS_EMPLOYED":-1230.0,"DAYS_ID_PUBLISH":-2797.0,"DAYS_LAST_PHONE_CHANGE":-594.0,"DAYS_REGISTRATION":-4056.0,"EXT_SOURCE_1":0.3616754278,"EXT_SOURCE_2":0.4403806304,"EXT_SOURCE_3":0.3791004854,"HOUR_APPR_PROCESS_START":12.0,"INCOME_CREDIT_PERC":0.3073950465,"INCOME_PER_PERSON":70500.0,"LANDAREA_AVG":0.0449,"LIVINGAREA_MODE":0.06675,"NONLIVINGAREA_AVG":0.0028,"OBS_30_CNT_SOCIAL_CIRCLE":0.0,"OWN_CAR_AGE":11.0,"PAYMENT_RATE":0.05,"REGION_POPULATION_RELATIVE":0.018634,"TOTALAREA_MODE":0.0617,"YEARS_BEGINEXPLUATATION_AVG":0.9811,"YEARS_BEGINEXPLUATATION_MODE":0.9806},{"AMT_ANNUITY":32976.0,"AMT_CREDIT":733315.5,"AMT_INCOME_TOTAL":202500.0,"AMT_REQ_CREDIT_BUREAU_QRT":0.0,"AMT_REQ_CREDIT_BUREAU_YEAR":3.0,"ANNUITY_INCOME_PERC":0.23364,"APARTMENTS_AVG":0.133,"BASEMENTAREA_AVG":0.1061,"COMMONAREA_MEDI":0.0467,"DAYS_BIRTH":-11396.0,"DAYS_EMPLOYED":-594.0,"DAYS_ID_PUBLISH":-1392.0,"DAYS_LAST_PHONE_CHANGE":-194.0,"DAYS_REGISTRATION":-1671.0,"EXT_SOURCE_1":0.5375084323,"EXT_SOURCE_2":0.5941896393,"EXT_SOURCE_3":0.5531646988,"HOUR_APPR_PROCESS_START":14.0,"INCOME_CREDIT_PERC":0.4693877551,"INCOME_PER_PERSON":112500.0,"LANDAREA_AVG":0.0808,"LIVINGAREA_MODE":0.1122,"NONLIVINGAREA_AVG":0.0245,"OBS_30_CNT_SOCIAL_CIRCLE":2.0,"OWN_CAR_AGE":17.0,"PAYMENT_RATE":0.0668266667,"REGION_POPULATION_RELATIVE":0.025164,"TOTALAREA_MODE":0.1084,"YEARS_BEGINEXPLUATATION_AVG":0.9861,"YEARS_BEGINEXPLUATATION_MODE":0.9861},{"AMT_ANNUITY":149211.0,"AMT_CREDIT":4027680.0,"AMT_INCOME_TOTAL":117000000.0,"AMT_REQ_CREDIT_BUREAU_QRT":19.0,"AMT_REQ_CREDIT_BUREAU_YEAR":22.0,"ANNUITY_INCOME_PERC":1.8759649123,"APARTMENTS_AVG":1.0,"BASEMENTAREA_AVG":1.0,"COMMONAREA_MEDI":1.0,"DAYS_BIRTH":-7678.0,"DAYS_EMPLOYED":0.0,"DAYS_ID_PUBLISH":0.0,"DAYS_LAST_PHONE_CHANGE":0.0,"DAYS_REGISTRATION":0.0,"EXT_SOURCE_1":0.9293940497,"EXT_SOURCE_2":0.8118697375,"EXT_SOURCE_3":0.8960095495,"HOUR_APPR_PROCESS_START":23.0,"INCOME_CREDIT_PERC":208.0033280532,"INCOME_PER_PERSON":39000000.0,"LANDAREA_AVG":1.0,"LIVINGAREA_MODE":1.0,"NONLIVINGAREA_AVG":1.0,"OBS_30_CNT_SOCIAL_CIRCLE":30.0,"OWN_CAR_AGE":91.0,"PAYMENT_RATE":0.1244277674,"REGION_POPULATION_RELATIVE":0.072508,"TOTALAREA_MODE":1.0,"YEARS_BEGINEXPLUATATION_AVG":1.0,"YEARS_BEGINEXPLUATATION_MODE":1.0}]'

In [18]:
js = desc1.to_json(
    orient='index',
    index=True
)